<h1>Search for flights</h1>

<%= form_with url: "/flights", method: :get do |form| %>

  <%= form.label :departure_airport_id, "Departure Airport:" %>
  <%= form.select(:departure_airport_id, options_for_select(@airports)) %><br> 
  <%= form.label :arrival_airport_id, "Arrival Airport:" %>
  <%= form.select(:arrival_airport_id, options_for_select(@airports, selected: 2)) %><br>
  <%= form.label :passangers_qty, "Passangers Quantity:" %>
  <%= form.select(:passangers_qty, options_for_select((1..4).to_a)) %><br>
  <%= form.label :flight_date, "Date (Year/Month/Day):" %>
  <%= form.select(:flight_date, options_for_select(@flight_dates)) %><br>
  <%= form.submit "Search" %>
  
<% end %>



<h2>Flights available</h2>
<% if @flights_available.empty? %>
  <p>No flight available</p>
<% else %>
  <%= form_with model: @booking, url: new_booking_path , method: :get do |form| %>
    <%= form.collection_radio_buttons :id, @flights_available, :id, :flight_details do |b| %>
      <%= b.radio_button %> <%= b.label %><br>
    <% end %><br>
    <%= form.hidden_field :passangers_qty, value: params[:passangers_qty] %>
    <%= form.submit "Book Flight" %>
  <% end %>
<% end %> 




