<h1>Booking</h1>
<h2>Flight</h2>
<%= Flight.find(params[:id]).flight_details %>, Flight ID: <%=params[:id]%><br>
<h2>Passengers:</h2>
<div data-controller="pax"
    data-pax-index-value=<%= params[:passangers_qty] %>>
      <%= form_with model: @booking do |form| %>
            <div data-pax-target= "paxList">
              <%= form.fields_for :passengers do |passengers_form| %>
                  <template data-pax-target="emptyPax">
                        <li>
                          <%= passengers_form.label :name %>
                          <%= passengers_form.text_field :name %>
                          <%= passengers_form.label :email %>
                          <%= passengers_form.text_field :email %>
                          <br>
                        </li>
                  </template>
                  <li>
                    <%= passengers_form.label :name %>
                    <%= passengers_form.text_field :name %>
                    <%= passengers_form.label :email %>
                    <%= passengers_form.text_field :email %>
                    <br>
                  </li>    
              <% end %>
            </div>  
            
        <%= button_tag('Add Passenger', type: 'button', data: {action: "click->pax#addPax"})  %>
        <%= form.hidden_field :flight_id, value: params[:id] %>
        <%= form.submit("Create Booking") %>
      <% end %>

</div>
